<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Xmonka" %></h1>
  <p>This home page is still a stub, but can be used for debug purposes</p>
</section>

<section>
<p>Check the Monster Glossary for an example on how the Card overview UI should look like:</p>

<a href="/monsters">Monster Glossary</a>
</section>
